.git
.gitignore
.gitattributes

**/bin/
**/obj/

**/*.Tests/
**/*.IntegrationTests/

.vs/
.vscode/
.idea/
*.user
*.suo
*.swp

Dockerfile
docker-compose*.yml
.dockerignore

.env
.env.*
!.env.example
**/secrets/
**/*.pfx
**/*.pem
**/*.key
**/*.p12

**/logs/
*.log

**/appsettings.Development.json

README.md
docs/
*.md